.hidden {
  display: none;
}

form input[type="text"] {
  width: 100%;
  height: 30px;
  border-radius: 7px;
}

form input[type="submit"]:hover {
  cursor: pointer;
}

.head-container {
  font-weight: bold;
  font-size: 27px;
  color: white;
}

.head-container span:last-child {
  margin-left: 10px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container #clock {
  margin-top: 5%;
  color: white;
  font-size: 60px;
  font-weight: bold;
}

.main-container #greeting {
  color: white;
  font-size: 60px;
  font-weight: bold;
}

.main-container #login-form {
  text-align: center;
}

.main-container #login-form input[type="submit"] {
  background: aliceblue;
  border: 0;
  border-radius: 7px;
  outline: none;
  padding: 10px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
}

.main-container #quote {
  background-color: white;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  color: black;
  font-size: 17px;
  font-weight: bold;
  border-radius: 10px;
  padding: 20px;
}

.todo-container {
  max-height: 90%;
  background: white;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  bottom: 10px;
  right: 20px;
  overflow: auto;
  height: auto;
}

.todo-container h2 {
  text-align: center;
}

.todo-container form {
  text-align: center;
}

.todo-container ul {
  list-style-type: none;
}

.todo-container ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.todo-container ul li button {
  background: tomato;
  outline: none;
  padding: 5px 5px;
  border-radius: 5px;
  border: 0;
}

.todo-container ul li button:hover {
  cursor: pointer;
}
